
{{>navbar this}}
<div class="container">
  {{#if editor}}
  <a href="/create" class="btn btn-info create" role="button">Create an Article</a>
  {{/if}}
  <div class="articles">
    <div class="content">
      <div class="header">
        {{#if editor}}
        <h5 class="article-heading">My Articles</h5>
        {{else if admin}}
        <h5 class="article-heading">Users Articles</h5>
        {{else}}
        <h5 class="article-heading">Articles</h5>
        {{/if}}
      </div>
      <div class="content-body">
        {{#unless articles}}
        <div>
          <h5 class="error center">No Articles Found</h5>
        </div>
        {{else}}
        <div>
          {{#each articles}}
          <div class="content">
            <div class="article-heading">
              <h5 class="title">{{title}}</h5>
              {{#or editor admin}}
              <div class="postsActionBtns">
                {{#if editor}}
                <img class="postActionImgs update" id={{@key}} src="/assets/images/pencil.png" role="button" alt="edit">
                <img class="postActionImgs delete" id={{@key}} src="/assets/images/redX.png" role="button" alt="delete">
                {{else if admin}}
                <img class="postActionImgs delete" id={{@key}} src="/assets/images/redX.png" role="button" alt="delete">
                {{/if}}
              </div>
              {{/or}}
              <h6 class="Author">Author: {{userid}}</h6>
            </div>
            {{#unless admin}}
            <div class="content-body">
              <button type="button" class="btn btn-info articleBtn" id={{@key}} {{this}}>Read More</button>
            </div>
            {{/unless}}
          </div>
          {{/each}}
        </div>
        {{/unless}}
      </div>
    </div>
  </div>
</div>