
{{>navbar this}}
<div class="container">
  {{#if editor}}
  <a href="/create" class="btn btn-info create" role="button">Create an Article</a>
  {{/if}}
  <div class="articles">
    <div class="content">
      <div class="header">
        {{#if editor}}
        <h5 class="article-heading">My Posts</h5>
        {{else}}
        <h5 class="article-heading">Articles</h5>
        {{/if}}
      </div>
      <div class="content-body">
        <div>
          {{#each articles}}
          <div class="content">
            <div class="article-heading">
              <h5 class="title">{{title}}</h5>
              {{#if editor}}
              <div class="postsActionBtns">
                <img class="postActionImgs" id="update" src="/assets/images/pencil.png" role="button" alt="edit">
                <img class="postActionImgs" id="delete" src="/assets/images/redX.png" role="button" alt="delete">
              </div>
              {{/if}}
              <h6>Author: {{user_id}}</h6>
            </div>
            <div class="content-body">
              <button type="button" class="btn btn-info articleBtn" id={{@key}} {{this}}>Read More</button>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>